# changes file
*.changes
*.chg

# system image
*.image
*.img

# Pharo Smalltalk Debug log file
PharoDebug.log

# Monticello package cache
/package-cache

# playground cache
/play-cache
/play-stash

# Metacello-github cache
/github-cache
github-*.zip
